:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--VeryLightGray);
  text-align: center;
  color: var(--VeryDarkBlue);
}

main {
  width: 80%;
  margin: 5em 0;
}

h1 {
  font-weight: 200;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  color: var(--GrayishBlue);
  font-size: 0.9rem;
  margin-top: 1em;
  margin-bottom: 4em;
}

.feature {
  text-align: left;
  background-color: white;
  box-shadow: 10px 10px 10px rgb(226, 226, 226);
  margin-bottom: 1em;
  padding: 1em;
}

.feature-text {
  font-size: 0.8rem;
  color: var(--GrayishBlue);
}

.feature img {
  margin-left: 12em;
  margin-top: 2em;
  width: 23%;
}

.feature:nth-child(1) {
  border-top: 4px solid var(--Cyan);
  border-radius: 5px;
}

.feature:nth-child(2) {
  border-top: 4px solid var(--Red);
  border-radius: 5px;
}

.feature:nth-child(3) {
  border-top: 4px solid var(--Orange);
  border-radius: 5px;
}

.feature:nth-child(4) {
  border-top: 4px solid var(--Blue);
  border-radius: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}

@media screen and (min-width: 48em) {

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  p {
    width: 45%;
    margin-left: 20em;
  }

  .feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  
  .feature {
    padding: 2em 2em 1.5em 2em;
  }

  .feature img {
    width: 23%;
    margin-left: 13em;
    margin-top: 3em;
  }

  .feature:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .feature:nth-child(4) {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .feature:nth-child(1), .feature:nth-child(4) {
    transform: translateY(50%);
  }
}